/* Import Montserrat font */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: Montserrat !important;
	text-shadow: 0px 0px 10px #a3a3a3c5;
}

html, body {
	height: 100%;
	width: 100%;
	background-color: rgb(61, 61, 61);
	margin: 0px;
}

p {
	margin: 0px;
}

#mainContainer {
	height: 100%;
	width: 100%;
	background-image: url(../../images/newtabpage/backgrounds/Blank.png);
	background-position: center;
	background-size: cover;
	opacity: 0;
	display: flex;
	justify-content: center;
	text-align: center;
}

#greetingContainer {
	position: fixed;
	width: 100%;
	top: 20px;
	text-align: center;
}

#welcomeMessage {
	font-size: 8vmin;
	font-weight: 500;
	color: rgb(255,255,255);
}

#welcomeMessage:hover{
	cursor: default;
}

#bookmarkContainer {
	display: flex;
	flex-wrap: wrap;
	top: 35%;
	justify-content: space-around;
	position: absolute;
	border-radius: 20px;
	background-color: #a0a0a049;
	box-shadow: 0px 0px 20px #40414071;
	padding: 10px;
	opacity: 0;
	max-width: 900px;
}

.bookmarkItem {
	padding: 10px;
	text-align: center;
	flex-basis: 10%;
}

.bookmarkImg {
	width: 100%;
	transition: transform 0.5s, box-shadow 1s;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
	border-radius: 100px;
}

.bookmarkImg:hover {
	transform: scale(1.2);
	transition: transform 0.5s, box-shadow 1s;
	box-shadow: 0px 0px 10px black;
	border-radius: 100px;
}

#footerContainer {
	color: white;
	opacity: 0;
}

#dateTime {
	text-align: left;
	position: fixed;
	bottom: 20px;
	left: 20px;
}

#dateTime:hover{
	cursor: default;
}

#hour, #colon, #minute {
	font-size: 83px;
}

#date {
	font-size: 30px;
}

#weatherIcon {
	height: 100px;
	width: 100px;
}

#weather {
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-align: center;
	font-size: 40px;
}

#weather:hover {
	cursor: pointer;
}

/* Mobile Portrait */
@media (max-width: 639px) {
	#bookmarkContainer {
		max-width: 200px;
		top: 25%;
	}
	.bookmarkItem {
		flex-basis: 17%;
		padding: 5px;
	}
	#hour, #colon, #minute {
		font-size: 30px;
	}
	#date {
		font-size: 12px;
	}
	#weather {
		font-size: 20px;
	}
	#weatherIcon {
		height: 40px;
		width: 40px;
	}
}

/* Mobile landscape */
@media (max-width: 768px) and (min-width: 640px) {
	#bookmarkContainer {
		max-width: 450px;
		top: 27%;
	}
	.bookmarkItem {
		flex-basis: 10%;
		padding: 5px;
	}
	#welcomeMessage {
		font-size: 9vmin;
	}
	#hour, #colon, #minute {
		font-size: 30px;
	}
	#date {
		font-size: 10px;
	}
	#weather {
		font-size: 18px;
	}
	#weatherIcon {
		height: 48px;
		width: 48px;
	}
}

/* Tablet portrait */
@media (max-width: 1023px) and (min-width: 769px) {
	#bookmarkContainer {
		max-width: 550px;
		top: 22%;
	}
	.bookmarkItem {
		flex-basis: 10%;
		padding: 5px;
	}
	#hour, #colon, #minute {
		font-size: 35px;
	}
	#date {
		font-size: 14px;
	}
	#weather {
		font-size: 30px;
	}
	#weatherIcon {
		height: 60px;
		width: 60px;
	}
}

/* Tablet landscape */
@media (max-width: 1200px) and (min-width: 1024px) {
	#bookmarkContainer {
		max-width: 750px;
		top: 32%;
	}
	.bookmarkItem {
		flex-basis: 9%;
	}
	#hour, #colon, #minute {
		font-size: 55px;
	}
	#date {
		font-size: 20px;
	}
	#weather {
		font-size: 30px;
	}
	#weatherIcon {
		height: 70px;
		width: 70px;
	}
}