* {
	font-family: Montserrat;
}

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

#mainContainer {
	height: 100%;
	width: 100%;
	background-image: url(../../images/newtabpage/backgrounds/Blank.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0.2;
	display: flex;
	justify-content: center;
}

#greetingContainer {
	margin-top: -100px;
	opacity: 0;
	text-align: center;
}

#welcomeMessage {
	font-size: 8vmin;
	font-weight: 500;
	text-shadow: 0px 0px 10px #a3a3a3c5;
	color: rgb(255,255,255);
}

#bookmarkContainer {
	display: flex;
	flex-wrap: wrap;
	top: 35%;
	justify-content: space-around;
	position: absolute;
	opacity: 0;
	border-radius: 20px;
	background-color: #a0a0a049;
	box-shadow: 0px 0px 20px #40414071;
	padding: 10px;
	margin: 0 20px 0 20px;
}

.bookmarkItem {
	padding: 10px;
	text-align: center;
}

.bookmarkImg {
	width: 100%;
	transition: transform 0.5s, box-shadow 1s;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.103);
	border-radius: 80px;
}

.bookmarkImg:hover {
	transform: scale(1.2);
	transition: transform 0.5s, box-shadow 1s;
	box-shadow: 0px 0px 10px black;
	border-radius: 80px;
}

#footerContainer {
	position: fixed;
	opacity: 0;
	text-shadow: 0px 0px 5px #a3a3a3c5;
	left: 20px;
	right: 20px;
	color: white;
	display: flex;
	justify-content: space-between;
	bottom: 20px;
}

#hour, #colon, #minute {
	font-size: 60px;
	line-height: 15px;
}

#weather {
	position: fixed;
	bottom: 0px;
	right: 20px;
	text-align: center;
}

#weather:hover {
	cursor: pointer;
}

#weatherIcon {
	margin-bottom: 5px;
}

#date {
	margin-left: 5px;
}

/* Mobile - Landscape */
@media (max-width: 959px) and (orientation: landscape) {
	#bookmarkContainer {
		max-width: 600px !important;
		top: 22% !important;
	}
	.bookmarkItem {
		flex-basis: 12.5% !important;
	}
	#hour, #colon, #minute {
		font-size: 40px !important;
		line-height: 10px !important;
	}
	#date {
		font-size: 15px !important;
		line-height: 10px !important;
	}
	#weather {
		font-size: 20px !important;
	}
	#weatherIcon {
		height: 50px !important;
		width: 50px !important;
	}
}

/* Mobile - Portrait */
@media (max-width: 959px) and (orientation: portrait) {
	#bookmarkContainer {
		max-width: 400px;
		top: 22% !important;
	}
	.bookmarkItem {
		flex-basis: 25%;
	}
	#hour, #colon, #minute {
		font-size: 45px !important;
	}
	#date {
		font-size: 17px !important;
		line-height: 10px !important;
	}
	#weather {
		font-size: 20px !important;
	}
	#weatherIcon {
		height: 55px !important;
		width: 55px !important;
	}
}

/* Desktop - Small */
@media (max-width: 960px) {
	#bookmarkContainer {
		max-width: 400px;
		top: 25%;
	}
	.bookmarkItem {
		flex-basis: 25%;
	}
	#hour, #colon, #minute {
		font-size: 60px;
	}
	#date {
		font-size: 20px;
	}
	#weather {
		font-size: 35px;
	}
	#weatherIcon {
		height: 80px;
		width: 80px;
	}
}

/* Desktop - 1080p */
@media (min-width: 961px) and (max-width: 1920px) {
	#bookmarkContainer {
		max-width: 800px;
		top: 40% !important;
	}
	#hour, #colon, #minute {
		font-size: 80px !important;
	}
	#date {
		font-size: 27px !important;
	}
	#weather {
		font-size: 40px !important;
	}
	#weatherIcon {
		height: 100px !important;
		width: 100px !important;
	}
}

/* Desktop - 1440p */

@media (min-width: 1921px) and (max-width: 2560px) {
	#bookmarkContainer {
		max-width: 1050px;
		top: 40% !important;
	}
	#hour, #colon, #minute {
		font-size: 150px !important;
	}
	#date {
		font-size: 39.5px !important;
	}
	#weather {
		font-size: 52px !important;
	}
	#weatherIcon {
		height: 140px !important;
		width: 140px !important;
	}
}

/* Desktop - 2560p */
@media (min-width: 2561px) {
	#bookmarkContainer {
		max-width: 1400px;
		top: 40% !important;
	}
	#hour, #colon, #minute {
		font-size: 175px !important;
	}
	#date {
		font-size: 69px !important;
	}
	#weather {
		font-size: 80px !important;
	}
	#weatherIcon {
		height: 200px !important;
		width: 200px !important;
	}
}

/* Other */
@media (min-width: 961px) {
	.bookmarkItem {
		flex-basis: 12.5%;
	}
}