html {
	height: 100%;
}

body {
	background: linear-gradient(to bottom right, #e6e6e6 0%, #f2f2f2 100%);
}

#main {
	transition: margin-left .7s;
	padding: 16px;
}

#menuButton {
	font-size: 30px;
	cursor: pointer;
	font-family: "Quicksand", Arial, sans-serif;
}

#navBar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
	transition: 0.7s;
	padding-top: 20px;
}

#myName {
	background-color: black;
	color: white;
	font-family: "Quicksand", Arial, sans-serif;
	line-height: 35px;
	font-size: 23px;
	letter-spacing: 9px;
	text-align: center;
	width: 100%;
}

#navBarLinksTable {
	transition: 0.3s;
	text-align: right;
	width: 100%;
	padding: 30px 25px 0px 0px;
}

.navBarLink {
	position: relative;
	text-decoration: none;
	font-size: 15px;
	color: #818181;
	transition: 0.3s;
	text-transform: uppercase;
	font-family: "Quicksand", Arial, sans-serif;
	line-height: 25px;
}

.navBarLink:hover {
	color: #000;
}

.navBarLink:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.navBarLink:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#socialFooter {
	position: absolute;
    bottom: 40px;
    right: 20px;
}





