html {
	height: 150%;
}

body {
	background: linear-gradient(to bottom left, #e6e6e6, #f2f2f2);
	margin: 0px;
}

#menuButton {
	font-size: 30px;
	font-family: "Quicksand", Arial, sans-serif;
	line-height: 0.5px;
	color: white;
}

#menuButtonContainer {
	transition: .5s;
	position: fixed;
	top: 15px;
	left: 15px;
	background-color: rgb(39, 39, 39);
	border-radius: 100%;
	width: 60px;
	height: 60px;
	text-align: center;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
}

#menuButtonContainer:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: .5s;
	box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.7);
}