html,
body {
  height: 100%;
  margin: 0
}

body {
	background: linear-gradient(to bottom left, #e6e6e6, #f2f2f2);
	margin: 0px;
}

#main {
	transition: .5s;
}

#menuButton {
	font-size: 30px;
	font-family: "Quicksand", Arial, sans-serif;
	line-height: 0.5px;
	color: white;
}

#menuButtonContainer {
	transition: .5s;
	position: fixed;
	top: 15px;
	left: 15px;
	background-color: rgb(39, 39, 39);
	border-radius: 100%;
	width: 60px;
	height: 60px;
	text-align: center;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
	z-index: 20;
}

#menuButtonContainer:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: .5s;
	box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.4);
}

html.can-touch #menuButtonContainer:hover{
	transform: scale(1);
	box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0);
}

#header {
	width: 100%;
	height: 60vw;
	overflow-y: hidden;
	overflow-x: hidden;
	background-repeat: no-repeat;
	opacity: 1;
	z-index: -5;
	text-align: center;
}

#headerName {
	font-family: "Quicksand", Arial, sans-serif;
	color: white;
	position: absolute;
	top: 10vw;
	left: 0px;
	right: 0px;
	font-size: 45px;
	letter-spacing: 12px;
}