/* Start General Rules */
html {
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	margin: 0;
}

@font-face {
    font-family: "Museo Sans 100";
    src: url(../../fonts/portfolio/MuseoSans-100.otf) format("opentype");
}

@font-face {
    font-family: "Museo Sans 300";
    src: url(../../fonts/portfolio/MuseoSans-300.otf) format("opentype");
}

@font-face {
    font-family: "Museo Sans 500";
    src: url(../../fonts/portfolio/MuseoSans_500.otf) format("opentype");
}

@font-face {
    font-family: "Museo Sans 700";
    src: url(../../fonts/portfolio/MuseoSans_700.otf) format("opentype");
}

.header {
	text-align: center;
	margin-bottom: 15px;
	display: none;
}

.subHeader {
	font-family: "Museo Sans 500";
	font-size: 20px;
	text-align: center;
	margin: 0px;
}

.text{
	font-family: "Museo Sans 100";
}

.textBold {
	font-family: "Museo Sans 300";
}

.underline {
	border-bottom: 2px solid #000000;
	display: inline-block;
	margin: 0px;
}

.contentEntry {
	flex-basis: auto;
	margin: auto 20px 20px 20px;
}

#mainContainer {
	transition: 0.5s;
	opacity: 1;
}

html.can-touch #menuButtonContainer:hover{
	transform: scale(1);
	box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0);
}
/* End General Rules */

/* Page Header Section Rules Start */
#headerSection {
	width: 100%;
	height: 93vh;
	text-align: center;
	box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5);
	background-image: url("../../images/portfolio/me2_bw.jpg");
	background-position: center 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#headerName {
	font-family: "Quicksand", Arial, sans-serif;
	color: white;
	position: absolute;
	top: 20vh;
	left: 0;
	right: 0;
	font-size: 3rem;
	letter-spacing: 1rem;
}
/* Page Header Section Rules End */

/* Menu Button Rules Start */
#menuButton {
	font-size: 1.875rem;
	font-family: "Quicksand", Arial, sans-serif;
	line-height: 0.03125rem;
	color: white;
}

#menuButtonContainer {
	position: fixed;
	top: 0.9375rem;
	left: 0.9375rem;
	transition: 0.5s;
	background-color: rgb(39, 39, 39);
	border-radius: 100%;
	width: 3.75rem;
	height: 3.75rem;
	text-align: center;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
	z-index: 2;
}

#menuButtonContainer:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: 0.5s;
	box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.4);
}
/* Menu Button Rules End */

/* Resume Section Rules Start */
#resumeContent {
	height: 6vh;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.homeLink {
	color: #383838 !important;
	font-size: 20px !important;
}
/* Resume Section Rules End */